@model ProjetoCrudWEB.Models.AlunoViewModel

@{
    ViewData["Title"] = "Tabela de Alunos";
}

<div>
    <br />
    <h1 style="display: inline">
        Tabela de Alunos
    </h1>
    <a class="float-end btn btn-success" asp-action="Adicionar">Adicionar Aluno</a>
    <hr />

    <form asp-controller="Aluno" asp-action="Index" method="get">
    <p>
        <input size="50" type="text" placeholder="Matrícula ou nome do aluno" asp-for="StringPesquisa" />
        <input type="submit" value="Buscar" class=" btn btn-sm btn-outline-success" />
    </p>
</form>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
        <thead>
            <tr class="bg-success text-white text-center w-auto">
                <th>
                    @Html.DisplayNameFor(model => model.Alunos[0].Matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alunos[0].Nome)
                </th>
                <th class="th-lg">
                    @Html.DisplayNameFor(model => model.Alunos[0].Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alunos[0].Nascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alunos[0].Cpf)
                </th>
                <th style="width: 180px">
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Alunos)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td class="text-start" style="white-space: nowrap">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nascimento)
                    </td>
                    <td style="white-space: nowrap">
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td class="d-grid gap-2 d-xl-block">
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Editar" asp-route-id="@item.Matricula">Editar</a>
                        <a class="btn btn-sm btn-outline-danger" asp-action="Remover" asp-route-id="@item.Matricula">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>